body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/* End Global Style */






/* Start Header Style */
.sidebar__header .sidebar__header__logo img {
    width: 100px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    padding: 40px 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-layout {
    display: flex;
    justify-content: space-between;
}

.app-layout__body {
    width: calc(100% - 250px);
    background: #fafafc;
    padding: 40px 30px;
}

.sidebar__header {
    margin-bottom: 30px;
}

.sidebar__body .sidebar__body__item a {
    display: flex;
    border-radius: 12px;
    align-items: center;
    font-size: 15px;
    color: #727272;
    font-weight: 500;
}

.sidebar__body .sidebar__body__item a svg {
    padding: 12px 8px;
    box-sizing: unset;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 18px;
}

.sidebar__body .sidebar__body__item.active a span {
    padding-left: 5px;
    color: #fff;
}

.sidebar__body .sidebar__body__item.active a svg {
    background: #55aefe;
    color: #fff;
}

.sidebar__body .sidebar__body__item.active a {
    background: #409bed;
}

.sidebar__body .sidebar__body__item a span {
    transition: all .3s linear;
}

.sidebar__body__item {
    margin-bottom: 5px;
}

.sidebar__bottom__item .like-icon {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar__bottom__item .like-icon svg {
    font-size: 110px;
    color: #409bed;
}

.sidebar__bottom__item {
    background: #d2dde9;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    padding-top: 60px;
}

.sidebar__bottom__item span {
    font-size: 14px;
    display: block;
}

.sidebar__bottom__item a {
    color: #409bed;
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End Sidebar Style */

/* Layout Top Header */
.app-layout-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.app-layout-top-header .alth-auth-area .alth-auth-img img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.alth-left {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.alth-auth-area {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s linear;
}

.alth-auth-img {
    display: flex;
    margin-right: 11px;
}

.alth-auth-name {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.alth-auth-name svg {
    font-size: 20px;
    color: gray;
}

.alth-auth-area:hover {
    box-shadow: 0px 0px 8px #3333330d;
}

.alth-search {
    background: #fff;
    padding: 6px 12px;
    border-radius: 12px;
}

.alth-search form input {
    height: 40px;
    min-width: 350px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #5c5c5c;
    font-weight: 500;
}

.alth-search form input::placeholder {
    color: #c9c9c9;
}

.alth-search form button {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    border: none;
    background: #409bed;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.alth-search form button svg {
    font-size: 18px;
}

.alth-search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alth-page-title h1 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
}

/* End Layout Top Header */

/* Start Document page body Style */
.documents-page-layout {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.documents-page-layout__right {
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

.documents-page-layout__left {
    width: calc(100% - 350px);
}

.my-files-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.my-files-header button {
    background: #55aefe;
    color: #fff;
    padding: 16px 16px;
    border-radius: 14px;
    border: none;
    display: flex;
    align-items: center;
}

.my-files-header button svg {
    margin-right: 7px;
    font-size: 18px;
}

.my-files-header>h5 {
    font-size: 18px;
    font-weight: 600;
}

.my-files-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.my-files-body .file-box {
    background: #fff;
    width: 100%;
    border-radius: 14px;
    padding: 16px;
}

.my-files-body .file-box .file-box__icon svg {
    font-size: 20px;
}

.my-files-body .file-box .file-box__icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 15px;
}

.file-box__title h6 {
    font-size: 16px;
    margin: 0;
}

.file-box__bottom {
    margin-top: 20px;
}

.file-box__bottom .file-box__bar {
    height: 6px;
    width: 100%;
    background: #cccccc52;
    border-radius: 8px;
    margin-bottom: 12px;
}

.file-box__bottom .file-box__bar span {
    display: block;
    height: 100%;
    border-radius: 8px;
}

.file-box__info span.files-count {
    color: gray;
}

.file-box__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-box__info span {
    font-size: 14px;
}

.file-box__info span.files-size {
    font-weight: 500;
}

.file-box.documents .file-box__icon {
    background: #ecf5fc;
}


.file-box.documents .file-box__icon svg {
    color: #149cff;
}

.file-box.documents .file-box__bottom .file-box__bar span {
    background: linear-gradient(45deg, #149cff, #b8e1ff);
}

.file-box.google_drive .file-box__icon {
    background: #fff7e7;
}

.file-box.google_drive .file-box__icon svg {
    color: #f1a226;
}

.file-box.google_drive .file-box__bottom .file-box__bar span {
    background: linear-gradient(45deg, #f1a226, #ffd99d);
}

.file-box.one_drive .file-box__icon {
    background: #e6ecf5;
}

.file-box.one_drive .file-box__icon svg {
    color: #11376b;
}

.file-box.one_drive .file-box__bottom .file-box__bar span {
    background: linear-gradient(45deg, #11376b, #5e91d8);
}

.file-box.dropbox .file-box__icon {
    background: #e6f4fe;
}

.file-box.dropbox .file-box__icon svg {
    color: #2d82d5;
}

.file-box.dropbox .file-box__bottom .file-box__bar span {
    background: linear-gradient(45deg, #2d82d5, #8bc5ff);
}

.storage-body__info {
    margin-top: 30px;
}

.storage-body__info .storage-body__info-item {
    border: 2px solid #ebeff28c;
    padding: 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.storage-details-header h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.sbit {
    display: flex;
    align-items: center;
}

.sbit .sbit-icon {
    margin-right: 10px;
    display: flex;
}

.sbit .sbit-icon svg {
    font-size: 28px;
}

.sbit-info h6 {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

.sbit-info span {
    font-size: 12px;
    color: gray;
}

.storage-body__info-item .size {
    font-weight: 500;
    font-size: 14px;
}

.storage-body__info-item.documents .sbit-icon svg {
    color: #2999f9;
}

.storage-body__info-item.media .sbit-icon svg {
    color: #20e6fe;
}

.storage-body__info-item.other .sbit-icon svg {
    color: #ffcc23;
}

.storage-body__info-item.unknown .sbit-icon svg {
    color: #f52425;
}

/* End Document page body Style */